/* CSS 선택자 */
/* 별은 전체 선택자 */
* {
  background-color: pink;
}
/* 타임 선택자, 태그 선택자, 요소 선택자 */
body {
  background-color: yellow;
  margin: 0;
}

h1 {
  margin: 0;
}
/* 클래스 선택자 */
.lion {
  background-color: salmon;
}
/* 아이디 선택자 */
#bootcamp {
  background-color: green;
}
/* 속성 . ^을 붙여서 멋사로 시작하는 title에만 적용 */
[title^='멋사'] {
  font-size: 24px;
}
/* 자손 결합자. class=frontend 안에 있는 요소중 class=lion에게 적용 */
.frontend .lion {
  border: 5px solid blue;
}
/* 자식 결합자.class=like의 바로 아래있는 자식인 class=lion에게 적용 */
.like > .lion {
  font-size: 36px;
}
/* 형제 결합자, 인접해 있으면 +, 인접해 있으면서 다른 요소가 나올때까지는 ~*/
h2 + p {
  font-weight: 900;
}
h2 ~ p {
  color: blue;
}

/* 가상 요소 선택자 */
p::first-letter {
  font-size: 60px;
}
/*마우스로 스크롤 했을때 나오는 색*/
::selection {
  background-color: black;
  color: white;
}
/*before는 h1 맨앞, after는 h1 맨뒤, 스크린리더에서도 읽어줌*/
h1::before {
  content: '웹표준 - ';
}
h1::after {
  content: '(멋사)';
}

/* 가상 클래스(상황따라서 지정) */
a {
  font-size: 48px;
}

a:hover {
  background-color: darkblue;
  color: white;
}
/*tab키로 포커스 받을때 */
a:focus {
  background-color: red;
  color: white;
}
