/* 리스트 스타일 */
.frontend ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* list style position 속성*/
.frontend ol {
  background-color: #ffc;
  list-style-type: upper-roman;
  /*목록 안에서 br로 줄바꿈한 텍스트가 있어야 inside가 효과있음*/
  list-style-position: inside;
  padding-left: 0;
}

/*list style image 속성*/
.bootcamp ul {
  list-style-image: url(/src/assets/thumbnail/new.png);
}
/*list-style 속성*/
.bootcamp ol {
  padding-left: 0;
  background-color: #cff;
  /*스퀘어도 적용되어있지만, 이미지 뒤로 밀린거임*/
  list-style: square inside url(/src/assets/thumbnail/new.png);
}
