/* Float 레이아웃 */
/* float:left */
/* float으로 인해 발생한 레이아웃 이슈를 overflow 속성으로 해결 */
.wrapper {
  border: 5px solid red;
  overflow: hidden;

  img {
    border: 2px solid blue;
    float: left;
    position: relative;
    top: -20px;
  }

  .like {
    border: 2px solid green;
  }
}

/* float:right */
.container {
  border: 5px solid green;
  display: flow-root; /*자식 요소의 높이를 다 읽어서 부모요소에 적용, float속성 지정한 요소의 직속 부모요소에 flow-root*/

  img {
    border: 2px solid blue;
    float: right;
  }

  .lion {
    border: 2px solid red;
  }
}
