/* 논리속성과 논리값 */
/* width , height */
.like {
  background: #ffc;
  inline-size: 200px; /* width: 200px의 논리속성 */
  block-size: 100px; /* height: 100px의 논리속성 */
}
/* margin, padding */
.lion {
  background: #fcf;
  padding-block: 20px; /*블록은 탑,바텁을 합친 값*/
  margin-inline: 20px; /*인라인은 좌우를 합친 값*/
}
/* position: absolute; top, right, bottom, left의 논리속성은 inset*/
.bootcamp {
  background: #cff;
  position: relative;
  inline-size: 300px;
  block-size: 100px;

  strong {
    position: absolute;
    background: #fcf;
    /* inset-inline-start: 0; left의 논리속성*/
    /* inset-inline-end: 0; float-right의 논리속성*/
    /* inset-block-start: 0; top의 논리속성*/
    /* inset-block-end: 0; bottom의 논리속성, 크기를 따로 안주면 부모요소크기까지 커짐*/
    inset: 0; /*위에 4개를 하나로*/
  }
}

.frontend {
  background: #cff;

  strong {
    background: yellowgreen;
    float: inline-start;
  }
}

.euid {
  padding: 10px;
  background-color: salmon;
  border-block-end: 2px solid blue;
}
