/* 서브 그리드 */
/* 컴포넌트 */
.card {
  border: 1px solid currentColor;
  padding: 1em;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  row-gap: 1em;

  figure {
    aspect-ratio: 2/1;
    order: -1;

    img {
      width: 100%; /* figure 요소의 aspect-ratio를 기준으로 삼음 */
      height: 100%; /* figure 요소의 aspect-ratio를 기준으로 삼음 */
      object-fit: cover; /* 이미지 원본 비율을 유지하면서 컨테이너를 채울지, 컨테이너에 맞게 늘리거나 자를지 결정 */
      object-position: 30% 40%;
    }
  }

  p {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  a {
    background: darkblue;
    color: white;
    justify-self: end;
    padding: 16px;
    border-radius: 4px;
  }
}

/* 레이아웃 */
.cards {
  box-shadow: 0 0 0 5px green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .card {
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
}
