/* 아바타 컴포넌트 */
.avatar {
  --avatar-size: 64px;
  --state-size: 20px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  /* .is-online {
    background: var(--active-color) !important;
  }  중간에 넣고 싶을때는 임포턴드로 온라인있을때 이것 우선 사용, 없으면 패스*/

  .avatar-state {
    width: calc(var(--state-size) / var(--avatar-size) * 100%); /*calc 함수 안에 값을 숫자말고, var 함수로 넣어두면 사용자정의로 만든 속성의 내용이 변하더라도 유연하게 적용가능. 연산자 +-* 앞뒤로 공백 필요*/
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--disable-color);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--border-color); /* 이거든 밑에꺼든 둘다 사용가능 */
    /* box-shadow: 0px 0px 0px 2px var(--border-color); 나랑 똑같은 그림자가 2px번져서 보여지는 것, state에 영향 안줌*/

    &.is-online {
      background: var(--active-color);
    }
  }
}

/* 아바타 레이아웃 */
.avatar-list {
  width: 596px;
  height: 395px;
  padding: 110px 130px;
  box-shadow: 0 0 2px 1px currentColor; /*그림자는 위에 있는 높이너비에 포함이 안됨, 마지막1px 줘야 밖에 라인하나 보임*/

  .avatar-item {
    float: left; /*플롯은 공중에 떠서 다른 요소 위치에게 영향을 줘서 옆으로 미룸, but 부모요소 상자크기가 작으면 밑으로 내려감, 내가 배치할 수 있는 공간안에서만 유연하게 이동*/
    margin: 10px;

    &:nth-child(5) {
      clear: left; /*이전 플롯 요소들로부터 영향을 받지 않음, 무조건 새로운 줄(독립된 줄)에서 시작*/
    }
  }
}
