/* 이디야 News UI */
:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

/* notice 공지사항-grid 레이아웃 */
.notice {
  --spacing: 12px;

  background: var(--blue-300);
  display: grid;
  min-width: 320px;
  grid-template-columns: 125px minmax(200px, 1fr);
  border: 1px solid var(--gray);

  h2,
  div {
    grid-area: 1 / 1 / 2 / 2;
  }

  h2 {
    padding: var(--spacing); /*안쪽으로 여백주기*/
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  div {
    place-self: end; /* justify-self, align-self 의 속기법*/
    display: flex;
    flex-flow: nowrap row;
    padding: var(--spacing);

    button {
      /*all: unset; 버튼이 가지고 있는 모든 기본 스타일을 다 없애라, but 접근성에 안좋음, tab으로 이동 못함*/
      border: 0;
      padding: 0;
      background: none;

      svg {
        /* vertical-align: top; */
        display: block;
      }
    }
  }

  article {
    padding: var(--spacing);
    background: #fff;

    h3 {
      color: var(--blue-200);
    }

    p {
      line-height: 1.5;
      letter-spacing: -0.02em;
      margin-top: 10px;
    }
  }
}

/* 새소식 - grid  레이아웃 */
.news {
  /* box-shadow: 0 0 0 1px red; */
  background: var(--blue-300);
  color: var(--white);
  display: grid;
  min-inline-size: 320px;
  grid-template-columns: minmax(200px, 1pr) max-content;
  gap: 8px;
  padding: 16px;

  .news-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-block-end: 8px;
  }

  .news-list,
  .news-item {
    display: contents; /*무시설정줘서 자식요소가 바로 적용되게 만듬*/
  }

  .news-list {
    font-size: 0.8125rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    /* font-weight: 400;  기본이 400사이즈*/

    a {
      /* background: purple; */
      white-space: nowrap; /* 줄바꿈 금지 */
      overflow: hidden;
      text-overflow: ellipsis; /* 텍스트 오버된거를 ...말줄임으료 표현하는 방법, white-space, overflow, text-overflow 같이 사용해야함 */
    }
  }

  .more {
    grid-area: 1 / 2; /* 4개로  row, column 스타트 엔드 설정가능, 열이 하나하면 2개만 써도됨 */
    /* justify-self: end;
    align-self: start; */
    place-self: start end;
  }
}

/* 고객 감사 영상-iframe 요소 */
/* padding 속성에 백분율 값을 활용한 반응형 iframe */
/* .ediya-youtube {

  figure {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
} */

/* aspect-ration 속성을 활용한 반응형 iframe */
.ediya-youtube {
  box-shadow: 0 0 0 5px red;

  figure {
    aspect-ratio: 16 / 9;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
